.form__input_file {
    position: relative;
    width: 250px;
    height: 39px;
    border-radius: 6px;
    content-visibility: hidden;
    font-size: 0;
    background: #6d5bd0;
    cursor: pointer;
    transition: background-color .2s linear;
}

.input-wrapper_file:hover .form__input_file {
    background: #483c8a;
}