.form__input_checkbox {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.form__input_checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.form__input_checkbox:focus-visible {
  outline: none;
}

.form__input_checkbox:checked:after {
  opacity: 1;
}


.form__input_checkbox:disabled:before {
  background-color: #cccccc;
}

@media (max-width: 1065px) {
  .form__input_checkbox {
    width: 37px;
    height: 35px;
  }
}