.adv {
  padding-top: 70px;
  padding-bottom: 70px;
}

.adv__about {
  text-align: center;
}

.about__title {
  margin-bottom: 29px;
  font-weight: var(--bold);
  font-size: 35px;
  text-align: center;
  color: var(--gray);
}

.subtitle {
  position: relative;
  margin-bottom: 34px;
  font-weight: var(--medium);
  font-size: 22px;
  text-align: center;
  color: var(--gray);
}

.subtitle:before {
  content: " ";
  position: absolute;
  left: 504px;
  top: 11px;
  display: block;
  width: 43px;
  height: 2px;
  background-color: var(--gray);
}

.subtitle:after {
  content: " ";
  position: absolute;
  right: 507px;
  bottom: 12px;
  display: block;
  width: 43px;
  height: 2px;
  background-color: var(--gray);
}

.adv__paragraph {
  padding-left: 237px;
  padding-right: 237px;
  margin-bottom: 58px;
  font-weight: var(--normal);
  font-size: 18px;
  line-height: 141%;
  text-align: center;
  color: var(--gray);
}

.adv__list {
  display: flex;
  column-gap: 50px;
  margin: 0;
  padding-left: 134px;
  padding-right: 124px;
}

.adv__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}

.adv__list-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 122px;
  border-radius: 100%;
  background-color: #23c7ec;
  font-weight: var(--medium);
  font-size: 57px;
  line-height: 100%;
  color: var(--white);
}

.adv__list-description {
  font-weight: var(--medium);
  font-size: 20px;
  line-height: 141%;
  text-align: center;
  color: var(--gray);
}

@media (max-width: 1200px) {
  .adv {
    padding-top: 73px;
  }

  .about__title {
    margin-bottom: 23px;
    padding-left: 15px;
    font-size: 32px;
  }

  .subtitle {
    margin-bottom: 33px;
    padding-left: 13px;
    padding-top: 1px;
    font-size: 20px;
  }

  .subtitle:before {
    width: 40px;
    left: 403px;
    top: 11px;
  }

  .subtitle:after {
    width: 40px;
    right: 387px;
    bottom: 11px;
  }

  .adv__paragraph {
    padding-left: 148px;
    padding-right: 148px;
    font-size: 16px;
  }

  .adv__list {
    padding-left: 57px;
    padding-right: 31px;
  }

  .adv__list-item {
    row-gap: 26px;
  }

  .adv__list-marker {
    width: 104px;
    height: 104px;
    font-size: 52px;
    line-height: 141%;
  }

  .adv__list-description {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .adv {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .about__title {
    margin-bottom: 21px;
    font-size: 30px;
  }

  .subtitle {
    margin-bottom: 31px;
    font-size: 18px;
  }

  .subtitle:before {
    left: 300px;
    top: 10px
  }

  .subtitle:after {
    right: 300px;
    bottom: 9px;
  }

  .adv__paragraph {
    padding-left: 90px;
    padding-right: 90px;
    font-size: 14px;
  }

  .adv__list {
    padding-left: 15px;
    padding-right: 15px;
  }

  .adv__list-marker {
    width: 96px;
    height: 96px;
    font-size: 45px;
  }

  .adv__list-description {
    font-size: 16px;
  }
} 

@media (max-width: 768px) {
  .adv {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .about__title {
    font-size: 28px;
  }

  .subtitle {
    margin-bottom: 29px;
    font-size: 16px;
  }

  .subtitle:before {
    left: 190px;
    top: 9px
  }

  .subtitle:after {
    right: 190px;
    bottom: 6.5px;
  }

  .adv__paragraph {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 12px;
  }

  .adv__list {
    column-gap: 15px;
    padding-left: 0;
    padding-right: 0;
  }

  .adv__list-marker {
    width: 88px;
    height: 88px;
    font-size: 38px;
  }

  .adv__list-description {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .adv {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .about__title {
    margin-bottom: 18px;
    font-size: 20px;
  }

  .subtitle {
    margin-bottom: 30px;
    font-size: 16px;
  }

  .subtitle:before {
    width: 20px;
    height: 1px;
    left: 78px;
    top: 11px;
  }

  .subtitle:after {
    width: 20px;
    height: 1px;
    right: 78px;
    bottom: 7.5px;
  }

  .adv__paragraph {
    margin-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
  }

  .adv__list {
    flex-direction: column;
    row-gap: 40px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .adv__list-item {
    row-gap: 26px;
  }

  .adv__list-marker {
    width: 104px;
    height: 104px;
    font-size: 52px;
  }

  .adv__list-description {
    font-size: 18px;
  }
}