.footer {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #2F324B;
  font-size: 12px;
  color: var(--white);
}

.container_display_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__first-col {
  display: flex;
  align-items: center;
  column-gap: 19px;
}

.footer__creator {
  display: inline;
}

.footer__feedback {
  max-width: 210px;
}

.footer__row {
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2A2C3F;
}

.footer__creator_row {
  padding-left: 64px;
  padding-right: 64px;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 49px;
    padding-bottom: 49px;
  }

  .footer__creator {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .footer {
    font-size: 10px;
  }

  .footer__feedback .feedback__tel {
    margin-bottom: 3px;
  }
}

@media (max-width: 576px) {
  .footer {
    padding-top: 25px;
    padding-bottom: 0;
  }

  .container_display_flex {
    padding-bottom: 25px;
  }

  .footer__first-col {
    column-gap: 9px;
  }

  .copyright {
    font-size: 8px;
  }

  .footer__creator_second-col {
    display: none;
  }

  .footer__row {
    display: block;
  }
}

