:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  --font-family: "Roboto", sans-serif;
  --second-family: "Pacifico", sans-serif;
}

/* Отключение спинов у input type number */

/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
} */

/* input[type=number] {
  -moz-appearance:textfield; 
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: 16px;
  color: #000;
  background-color: #fff;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
  background: var(--blue);
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
}

.feedback {
  text-align: center;
}

.feedback__tel {
  display: block;
  margin-bottom: 5px;
  font-size: 23px;
}

.feedback__tel-link {
  font-size: 16px;
  border-bottom: 1px solid #ffffff80;
}

.feedback__tel-link_ico {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 964px;
  }

  .feedback__tel {
    font-size: 21px;
  }

  .feedback__tel-link {
    font-size: 13px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 768px;
  }

  .feedback__tel {
    font-size: 19px;
  }

  .feedback__tel-link {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 536px;
  }

  .feedback__tel {
    margin-bottom: 0;
    font-size: 17px;
  }

  .feedback__tel-link {
    font-size: 9px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 290px;
  }

  .feedback__tel {
    display: none;
  }

  .feedback__tel-link {
    border: none;
  }

  .feedback__tel-link_text {
    display: none;
  }

  .feedback__tel-link_ico {
    display: block;
  }
}