.intro {
  padding-top: 40px;
  padding-bottom: 120px;
  background-image: url("../img/header/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  font-weight: var(--normal);
  color: var(--white);
}

.lead {
  padding-left: 106px;
  padding-right: 106px;
  text-align: center;
  color:  #ffffffdb;
}

.lead__title {
  margin-bottom: 35px;
  font-weight: var(--black);
  font-size: 52px;
}

.lead__paragraph {
  margin-bottom: 90px;
  font-weight: var(--normal);
  font-size: 22px;
  line-height: 141%;
}

.lead__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 48px;
}

@media (max-width: 1200px) {
  .intro {
    padding-top: 26px;
    padding-bottom: 70px;
  }

  .header {
    margin-bottom: 70px;
  }

  .lead {
    padding-left: 92px;
    padding-right: 92px;
  }

  .lead__title {
    font-size: 40px;
  }

  .lead__paragraph {
    margin-bottom: 60px;
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .header {
    margin-bottom: 50px;
  }

  .lead {
    padding-left: 78px;
    padding-right: 78px;
  }

  .lead__title {
    font-size: 35px;
  }

  .lead__paragraph {
    margin-bottom: 30px;
    font-size: 16px;
  }
}


@media (max-width: 768px) {
  .header {
    margin-bottom: 30px;
  }

  .logo {
    width: 58px;
    height: 58px;
  }

  .lead {
    padding-left: 10px;
    padding-right: 10px;
  }

  .lead__title {
    font-size: 30px;
  }

  .lead__paragraph {
    margin-bottom: 25px;
    font-size: 14px;
  }

  .lead__btn {
    width: 180px;
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .intro {
    background-position: left;
    padding-top: 15px;
    padding-bottom: 65px;
  }

  .header {
    margin-bottom: 65px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .lead {
    padding: 0;
  }

  .lead__title {
    font-size: 20px;
    margin-bottom: 23px;
  }

  .lead__paragraph {
    height: 77px;
    margin-bottom: 54px;
    overflow: hidden;
  }

  .lead__btn {
    width: 160px;
  }
}
