.modal__exit-button {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all .2s linear;
}

.modal__exit-button svg path {
  transition: stroke .2s linear;
}

.modal__exit-button svg:hover path {
  stroke: #3d3763;
}

@media (max-width: 660px) {
  .modal__exit-button {
    top: 15px;
    right: 15px;
  }

  .modal__exit-button svg {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 435px) {
  .modal__exit-button {
    top: 10px;
    right: 10px;
  }

  .modal__exit-button svg {
    width: 12px;
    height: 12px;
  }
}