:root {
  position: relative;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #f2f0f9;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.container_main {
  max-width: 1100px;
}

.flex-container {
  display: flex;
}

.container_modal {
  padding-top: 32px;
}

@media (max-width: 1144px) {
  .container_main {
    max-width: 1024px;
  }
}

@media (max-width: 1065px) {
  .container_main {
    max-width: 940px;
  }
}

@media (max-width: 992px) {
  .container_main {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .container_main {
    max-width: 625px;
  }
}