.table__data_btn {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-right: 0;
    padding-left: 50px;
}

@media (max-width: 1065px) {
    .table__data_btn {
        justify-content: space-around;
        column-gap: 0;
    }
}

@media (max-width: 992px) {
    .table__data_btn img {
        width: 15px;
        height: 15px;
    }
}