.footer {
  padding-top: 100px;
}

.contacts-title {
  margin-bottom: 54px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.address {
  margin-bottom: 39px;
  font-style: normal;
}

.location {
  display: flex;
  column-gap: 31px;
  margin-bottom: 38px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
}

.location:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
}

.tel {
  display: flex;
  column-gap: 31px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: #fff;
}

.tel:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
}

.mail {
  display: flex;
  column-gap: 31px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: #fff;
}

.mail:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/envelope-icon.svg");
  background-repeat: no-repeat;
}

.social-link {
  display: flex;
  width: 280px;
  justify-content: space-between;
}