.header {
  height: 969px;
  padding-top: 146px;
  background-image: url("../img/banner.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -.1em;
  color: #ffff;
}

.title-description {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
  color: #ffff;
}