html {
    position: relative;
    overflow-x: hidden;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #1B1A1B;
  position: relative;
}

address {
  font-style: normal;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  cursor: pointer;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  max-width: 1240px;
  padding: 30px;
  margin: 0 auto;
}


.header {
  height: 969px;
  padding-top: 146px;
  background-image: url("../img/img/header-picture.png");
  background-position: bottom right;
  background-repeat: no-repeat;
}

.title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -.1em;
  color: #ffff;
}

.title-description {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
  color: #ffff;
}

.halls {
  padding-top: 100px;
}

.halls-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
}

.halls-title {
  margin-bottom: 60px;
}

.item {
  width: 100%;
  height: 710px;
  padding: 275px 485px;
}

.item:not(:last-child) {
  margin-bottom: 60px;
}

.vibes {
  background-image: url("../img/img/80\'s\ vibes.jpg")
}

.starwars {
  background-image: url("../img/img/star-wars.jpg")
}

.wildwest {
  background-image: url("../img/img/wild-west.jpg")
}

.neon {
  background-image: url("../img/img/neon-style.jpg")
}

.hall-link {
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.form-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #ffff;
}

.reservation-form {
  padding-top: 100px;
  color: #ffff
}

.about {
  padding-top: 100px;
}

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.about-article {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #ffff;
}

.blockquote {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 70px;
  font-weight: 400;
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
  color: #fff;
}

.quote {
  margin-bottom: 40px;
}

.quote:before {
  content: "“";
  display: inline-block;
  margin-right: 16px;
  font-weight: 900;
  font-size: 44px;
  line-height: 114%;
  color: #6c0287;
}

.quote:after {
  content: "”";
  display: inline-block;
  font-weight: 900;
  font-size: 44px;
  line-height: 114%;
  color: #6c0287;
}

.author {
  display: flex;
  justify-self: end;
  margin-left: 752px;
  column-gap: 30px;
  row-gap: 40px;
  width: 100%;
  height: 84px;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  line-height: 140%;
}

.cite {
  font-style: normal;
}

.faq-title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.footer {
  padding-top: 100px;
}

.contacts-title {
  margin-bottom: 54px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.address {
  font-style: normal;
}

.location {
  display: flex;
  column-gap: 31px;
  margin-bottom: 38px;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
  color: #fff;
}

.location:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/img/location.svg");
  background-repeat: no-repeat;
}

.tel {
  display: flex;
  column-gap: 31px;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: #fff;
}

.tel:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/img/bx_bxs-phone-call.svg");
  background-repeat: no-repeat;
}

.mail {
  display: flex;
  column-gap: 31px;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
  line-height: 117%;
  color: #fff;
}

.mail:before {
  content: "";
  width: 35px;
  height: 35px;
  background-image: url("../img/img/envelope.svg");
  background-repeat: no-repeat;
}

.social-link {
  display: flex;
  margin-top: 39px;
  width: 280px;
  justify-content: space-between;
}