.form__textarea {
  display: block;
  border: none;
  border-radius: 6px;
  width: 250px;
  height: 112px;
  resize: none;
  background: #f4f2ff;
}

@media (max-width: 1065px) {
  .form__textarea {
    width: 228px;
    height: 100px;
  }
}

@media (max-width: 768px) {
  .form__textarea {
    height: 70px;
  }
}