.form__label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6e6893;
}

.form__label_file {
  position: absolute;
  z-index: 2;
  top: 12px;
  left: 23px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 1065px) {
  .form__label {
    font-size: 10px;
  }

  .form__label_file {
    left: 40px;
  }
}

@media (max-width: 768px) {
  .form__label {
    font-size: 8px;
  }

  .form__label_file {
    left: 55px;
  }
}