.form__content {
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(5, 75px);
  column-gap: 24px;
  padding: 48px 28px 28px 28px;
  border-radius: 8px;
  background: #fff;
}

.input-wrapper_name {
  grid-column: 1;
  grid-row: 1;
}

.input-wrapper_category {
  grid-column: 1;
  grid-row: 2;
}

.input-wrapper_unit {
  grid-column: 1;
  grid-row: 3;
}

.input-wrapper_discount {
  grid-column: 1;
  grid-row: 4;
}

.input-wrapper_description {
  grid-column: 2;
  grid-row: 1 / 3;
}

.input-wrapper_file {
  position: relative;
  grid-column: 2;
  grid-row: 5;
  align-self: center;
}

@media (max-width: 1065px) {
  .form__content {
    grid-template-columns: repeat(2, 228px);
    grid-template-rows: repeat(5, 65px);
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .form__content {
    grid-template-columns: 228px;
    grid-template-rows: repeat(9, 50px);
  }

  .input-wrapper_name {
    grid-row: 1;
  }

  .input-wrapper_category {
    grid-row: 2;
  }

  .input-wrapper_unit {
    grid-row: 3;
  }

  .input-wrapper_discount {
    grid-row: 4;
  }

  .input-wrapper_description {
    grid-column: 1;
    grid-row: 5 / 7;
  }

  .input-wrapper_count {
    grid-row: 7;
  }

  .input-wrapper_price {
    grid-row: 8;
  }

  .input-wrapper_file {
    grid-column: 1;
    grid-row: 9;
  }
}